.table{
    align-items: center;
    margin-top: 6%;
    width:100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color:white;
    font-family: "Noto Serif", serif;
    font-size: 45px;
    text-align: center;
    position: relative;
    top:15px;
}

h2{
    color:white;
    font-family: "Noto Serif", serif;
    font-size: 60px;
    text-align: center;
    position: relative;
    margin-top: 2%;
    top:15px;
    margin-bottom: 5%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 10px;
}

.table td:nth-child(odd){background-color: #4c5265;}

input:nth-child(odd){background-color: #4c5265;}


.table th:hover {
  background-color: #212129;
  transition-duration: 0.2s;
}

.table th {
    padding-top: 12px;
    padding-bottom: 16px;
    width: 40%;
    text-align: left;
    background-color: #323949;
    color: #f0f8ff;
}

tr {
    align-items: center;
    padding-top: 12px;
    padding: 20px;
    text-align: left;
    background-color: #40445a;
    color: #f0f8ff;
    padding-bottom: 5px;
    display: flex;
    width:40%;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    margin-bottom: 5%;
}

input{
    width:100px;
    color:#f0f8ff;
}

button{
    background-color: transparent;
}