.table td, .card th {
    border: 1px solid #ddd;
    padding: 30px;
    width: 200px;
}

.table tr:nth-child(odd){background-color: #4c5265;}

.table tr:hover {
  background-color: #212129;
  transition-duration: 0.2s;
}

.table th {
    padding-top: 12px;
    padding-bottom: 16px;
    text-align: center;
    background-color: #323949;
    color: #f0f8ff;
}

.table tr {
    padding-top: 12px;
    padding: 20px;
    text-align: left;
    background-color: #40445a;
    color: #f0f8ff;
}

.button{
    margin:auto;
    position: relative;
    background-color: #4c5265;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 0px 0px;
    font-size:20px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.addButton :hover{
    background-color: #212129;
}

.mat-dialog-content{
    color: #4c5265 !important;
}