
h2{
    color:white;
    font-family: "Noto Serif", serif;
    text-align: center;
    position: relative;
    top:15px;
}

.formBG{
    background-color: #40445a;
}

.formBG mat-form-field{
    padding: 20px;
}

.formBG .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

.createTournamentForm{
    border-radius: 10%;
}

.button {
    background-color: #4c5265;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-size:20px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.3s;
    width: 20%;
    height:50px;
    margin-right: 20px;
    right:15px;
}

.buttons :hover{
    background-color: #212129;
}

.buttons .button{
    position:relative;
    left:420px;
    bottom:15px;
}