header{
    background: #212129;
    padding: 1px;
    border-bottom: 1px solid white;
}

.container{
    margin:0;
    display: flex;
    justify-content: space-between;
    transition-duration: 1s;
}

a.logo{
    margin: 30px;
    color:#f0f8ff;
    font-size: 35px;
    transition-duration: 0.3s;
}

.component ul{
    float:right;
}

.search input[type=text]{
    padding: 10px;
    margin-top: 30px;
    margin-right: 5px;
    margin-bottom: 20px;
    font-size: 17px;
    display: block;
    border-radius: 8px;
}

li{
    float:right;
}

nav ul{
    list-style-type: none;
    margin-top: 15px;
}

nav ul li a {
    padding: 0em 1em;
    display: inline-block;
    justify-content: space-between;
    color:#f0f8ff;
    transition-duration: 1s;
}

.options :hover{
    color:#bf0000
}

.options{
    transition-duration: 0.3s;
}

.container :hover{
    color:#bf0000
}
