<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">VTES Turnieje</a>
        <nav>
            <ul>
                <div class="options">
                    <li><a href="#" routerLink="/LogIn"><div class="options">Zaloguj się</div></a></li>
                    <!-- <li><a href="#" routerLink="/League"><div class="options">Liga</div></a></li> -->
                    <li><a href="#" routerLink="/"><div class="options">Turnieje</div></a></li>
                    <!-- <li><a href="#" routerLink="Players-Page"><div class="options">Gracze</div></a></li> -->
                </div>
            </ul>
        </nav>
    </div>
</header>
