.pastTournaments{
  align-items: center;
    margin-top: 4%;
    width:90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.city-form-group{
  float:right;
  position: relative;
  margin-top: 24px;
  right:80px;
  color: #f0f8ff;
}

.playerCount-form-group{
  float:right;
  position: relative;
  margin-top: 24px;
  right:120px;
  color: #f0f8ff;
}

.form-control{
  position: relative;
  bottom: 0px;
}

strong{
  padding-right: 1rem;
}

.pastTournaments td, .pastTournaments th {
    border: 1px solid #ddd;
    padding: 30px;
  }

.pastTournaments tr:nth-child(odd){background-color: #4c5265;}

.pastTournaments tr:hover {
  background-color: #212129;
  transition-duration: 0.2s;
}

.pastTournaments th {
    padding-top: 12px;
    padding-bottom: 16px;
    text-align: left;
    background-color: #323949;
    color: #f0f8ff;
  }

.pastTournaments tr {
    padding-top: 12px;
    padding: 20px;
    text-align: left;
    background-color: #40445a;
    color: #f0f8ff;
  }

.filterSearch{
  float:right;
  position:relative;
  margin-right: 25px;
  margin-top: 24px;
  border-radius: 10px;
}

.createTournamentButton{
  background-color: #4c5265;
  position:relative;
  float:right;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size:20px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.3s;
  width: 12%;
  height:40px;
  bottom:45px;
  right:27%;
  margin-bottom: 3%;
  margin-top: 4%;
  margin-left: 5%;
}

.addTournamentButton :hover{
  background-color: #212129;
}