li{
    list-style-type: none;
}

.pastTournaments{
    align-items: center;
    margin-top: 8%;
    width:70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.pastTournaments td, .pastTournaments th {
    border: 1px solid #ddd;
    padding: 30px;
}
  
.pastTournaments tr:nth-child(odd){background-color: #4c5265;}
  
.pastTournaments tr:hover {
    background-color: #212129;
    transition-duration: 0.2s;
}
  
.pastTournaments th {
    padding-top: 12px;
    padding-bottom: 16px;
    text-align: left;
    background-color: #323949;
    color: #f0f8ff;
}
  
.pastTournaments tr {
    padding-top: 12px;
    padding: 20px;
    text-align: left;
    background-color: #40445a;
    color: #f0f8ff;
}

li{
    text-align: center;
    font-size: 40px;
}

.filterSearch{
    float:right;
    position:relative;
    margin-right: 25px;
    margin-top: 24px;
    border-radius: 10px;
}